.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar photos";
  grid-template-columns: 1fr 3fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}
#sidebar2 {
  grid-area: sidebar;
}

#photo-container {
  grid-area: photos;
  aspect-ratio: 1/3;
}
