header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;

  & h1 {
    flex-grow: 1;
    text-align: center;
    color: var(--color-primary);
  }

  & nav {
    display: flex;
    flex-grow: 1;
    list-style: none;
    gap: 20%;
    justify-content: center;

    & li {
      text-align: center;
      display: flex;
      justify-content: end;
    }

  

    & a {
      font-size: 18px;
      display: block;
      position: relative;

      &::after {
        opacity: 0;
        content: "";
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        height: 140%;
        width: 140%;
        border: solid var(--color-primary-dark) 2px;
        transition: var(--transition);
        border-radius: 20px;
      }

      &:hover::after {
        opacity: 1;
        color: var(--color-primary-dark);
      }

      &.active {
        color: var(--color-primary);
      }

      &.active::after {
        opacity: 0.5;
        color: var(--color-primary);
      }
    }
  }
}
