@media screen and (max-width: 900px) {
  header {
    & h1 {
      text-align: left;
    }

    & nav {
      gap: 10%;
      justify-content: space-evenly;
    }

    & a {
      text-align: right;
    }
  }

  #photo-container {
    & div.column {
      max-width: 33%;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "sidebar"
      "photos";
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  #sidebar {
   display: none;
    
  }
  #sidebar2 {
    display: initial;
  }

  header {
    & h1 {
      text-align: center;
      width: 100%;
      margin-bottom: 1rem;
    }

    & nav {
      gap: 10%;
      margin: 0;
      justify-content: center;
    }

    & a {
      text-align: right;
    }
  }
}
