#photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  & .photo {
    height: 100%;
    background-color: var(--color-gray);
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.25s ease;

    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)) brightness(110%);
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
