#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & .column {
    max-width: 25%;
    padding: 0 3px;
  }

  & .photo {
    display: block;
    padding: 3px;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.25s ease;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    }

    & img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
