#sidebar {
  & #side-buttons {
    list-style: none;
    padding: 2rem 0;
    display: flex;
    flex-flow: column wrap;

    & li {
      padding: 1rem;
      position: relative;

      &:hover {
        background-image: linear-gradient(to right, #ffffff, #f2f5ff);
      }

      & a {
        display: block;
        width: 100%;
      }

      &::before {
        opacity: 0;
        content: "";
        position: absolute;
        height: 80%;
        width: 0.25rem;
        left: 0;
        top: 10%;
        background-color: var(--color-primary-dark);
        transition: var(--transition);
      }

      &:hover::before {
        opacity: 1;
      }

      &:hover a {
        color: var(--color-primary-dark);
      }
    }
  }
}

/*prueba*/
#sidebar2 {
  list-style: none;
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;

  #opcion1 {
    &::before {
      opacity: 1;
    }
  }

  & li {
    padding: 1rem;
    position: relative;

    &:hover {
      background-image: linear-gradient(to right, #ffffff, #f2f5ff);
    }

    & a {
      display: block;
      width: 100%;
    }

    &::before {
      opacity: 0;
      content: "";
      position: absolute;
      height: 80%;
      width: 0.25rem;
      left: 0;
      top: 10%;
      background-color: var(--color-primary-dark);
      transition: var(--transition);
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover a {
      color: var(--color-primary-dark);
    }
  }
}
/* Style the dropdown button */
.drop-btn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: #ffbf6c;
}

/* Style for selected option */
.selected {
  background-color: #b3e2ff !important;
  color: #747474 !important;
  pointer-events: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {
  background-color: #2980b9;
}
