#sidebar {
  & .side-buttons {
    color: red;
    list-style: none;
    padding: 2rem 0;
    display: flex;
    flex-flow: column wrap;

    & li {
      padding: 1rem;
      position: relative;

      &:hover {
        background-image: linear-gradient(to right, #ffffff, #f2f5ff);
      }

      & a {
        display: block;
        width: 100%;
      }

      &::before {
        opacity: 0;
        content: "";
        position: absolute;
        height: 80%;
        width: 0.25rem;
        left: 0;
        top: 10%;
        background-color: var(--color-primary-dark);
        transition: var(--transition);
      }

      &:hover::before {
        opacity: 1;
      }

      &:hover a {
        color: var(--color-primary-dark);
      }
    }
  }
}
